/* declare variables for reusable colors */
:root {
    --outline-color: rgb(70, 130, 180);
    --link-color: rgb(0, 128, 128);
    --box-color: rgb(2, 63, 99);
    --hover-link-color: rgb(1, 184, 230);
    --secondary-color: rgb(1, 48, 110);
    --tertiary-color: rgb(149, 114, 219);
    /* dark mode coloring */
    --background-color-dark: #282828;
    --font-color-dark: rgb(245, 245, 245);
    /* light mode coloring --font-color: #00003e; */
    --background-color: rgb(218, 218, 218);
    --font-color: rgb(1, 4, 53);
}

/* whole document formatting */
* {
    margin: 0; /* remove default margin and padding from whole document */
    padding: 0;
    box-sizing: border-box; /* force box size on whole document */
}

/* header format */

header {
    padding: 20px 35px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    background-color: var(--secondary-color);
    padding-bottom: 10px;
    width: 100vw;
    max-width: 100%;
    align-items: center;
}

header img {
    height: 75px;
    width: 80px;
}

header h1 {
    font-size: 3vw;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: var(--outline-color);
    margin-left: 10px;
}

header nav {
    margin-left: auto;
}

header nav ul { 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li {
    background-color: var(--box-color);
    background-position: 100%;
    border-style: solid;
    border-color: var(--link-color);
    border-radius: 10%;
    margin-right: 1vw;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    color: var(--link-color);
    text-decoration: none;
}

header nav ul li a:hover {
    color: var(--hover-link-color);
    text-decoration: none;
}

/* hero format */

.hero {
    background-color: var(--background-color);
    background-size: contain;
    position: relative;
    text-align: center;
}

.hero img {
    display: flex;
    background-size: contain;
    max-width: 100%;
    width: 100%;
    height: 300px;
}

.hero h2 {
    display: flex;
    justify-content: flex-end;
    position: relative;
    background-color: rgb(2, 63, 99,.6);
    font-size: 3vw;
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: var(--font-color-dark);
}

/* main styling begins */

main {
    color: var(--font-color);
    background-color: var(--background-color);
    font-family: Helvetica, Arial, sans-serif;
}

main section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
    padding-top: 15px;
}

main section h2 {
    padding-left: 20px;
    padding-right: 5px;
    width: 10%;
}

main section article {
    padding-left: 30px;
    padding-right: 5px;
    border-left: solid;
    border-left-color: var(--box-color);
    width: 85%;
}

main section article p {
    padding-bottom: 10px;
}

main section article figure {
    background-size: contain;
    position: relative;
    text-align: center;
}

main section article figure img {
    width: 100%;
    height: 500px;
    border-style: solid;
    border-width: 3px;
    border-color: var(--box-color);
}

main section article figure a img:hover {
    opacity: 0.5;
    filter: brightness(100%);
    border-color: var(--hover-link-color);
}

main section article figure figcaption{
    position: absolute;
    bottom: 10px;
    background-color: var(--outline-color);
    padding-left: 40px;
    padding-right: 10px;
    margin-left: 3px;
    text-align: right;
    color: silver;
}

main section article div {
    margin-top: 40px;
    background-size: cover;
    position: relative;
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

main section article div figure img {
    height: 250px;
    width: 40vw;
}

#movie-finder {
    margin-top: 40px;
}

/* Contact Me Styling */

#contact-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 1.25vw;
    width: 85%;
}

#contact-block p {
    border-bottom: solid;
    border-color: var(--box-color);
    border-width: 3px;
}

#contact-block p a {
    text-decoration: none;
    color: var(--font-color);
}

#contact-block p a:visited {
    color: var(--font-color);
}

#contact-block p a:hover {
    color: var(--hover-link-color);
}


/* footer styling */

footer {
    background-color: var(--background-color);
}


/* media query for non-desktop widescreen, including mobile */
@media screen and (max-width: 900px) {
    header nav ul {
        flex-direction: column;
    }

    header nav ul li{
        margin-top: .5vw;
    }

    main section {
        flex-direction: column;
    }

    main section h2 {
        width: 90%;
    }

    main section article {
        border-left: none;
        border-top: solid;
        width: 90%;
        padding-top: 10px;
    }

    #contact-block {
        font-size: 2vw;
    }

    #contact-block p {
        margin-top: 20px;
    }
}